/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Colors 
   ========================================================================== */
  /*  
  *  light green : d5d6c8 
  *  dark green : 8d9774
  *  light(darker) green : d4d6c6
  *  nav bg color : e4dfbd
  *  mid green : b7be91
  */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


@font-face {
    font-family: 'BebasRegular';
    src: url('../bebas/BEBAS___-webfont.eot');
    src: url('../bebas/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../bebas/BEBAS___-webfont.woff') format('woff'),
         url('../bebas/BEBAS___-webfont.ttf') format('truetype'),
         url('../bebas/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
button,
input,
select,
textarea {
    color: #222;
}



/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
	Vanilla Reset
	http://noscope.com/vanilla-css
	CSSresetr.com
   ============================================================================== */
	/**
	* Start Vanilla CSS 1.0.0
	*/

body {
	font: 9pt/1.5em "Helvetica Nueu", Helvetica, sans-serif;
}
pre, code, tt {
	font: 1em/1.5em 'Andale Mono', 'Lucida Console', monospace;
}
h1, h2, h3, h4, h5, h6, b, strong {
    font: "BebasRegular", Helvetica, sans-serif;
    color: #8d9774;
}
em, i, dfn {
	font-style: italic;
}
dfn {
	font-weight:bold;
}
p, code, pre, kbd {
	margin:0 0 1.5em 0;
}
blockquote {
	margin:0 1.5em 1.5em 1.5em;
}
cite {
	font-style: italic;
}

dl {
	margin:0 0 1.5em 0;
}
dl dt {
	font-weight:bold;
}
dd {
	margin-left:1.5em;
}
table {
	margin-bottom:1.4em;
	width:100%;
}
th {
	font-weight:bold;
}
th, td, caption {
	padding:4px 10px 4px 5px;
}
tfoot {
	font-style:italic;
}
sup, sub {
	line-height:0;
}
abbr, acronym {
	border-bottom: 1px dotted;
}
address {
	margin:0 0 1.5em;
	font-style:italic;
}
del {
	text-decoration: line-through;
}
pre {
	margin:1.5em 0;
	white-space:pre;
}
img.centered, .aligncenter, div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignright {
	display: inline;
}
img.alignleft {
	display: inline;
}
.alignright {
	float: right;
	margin-left: 10px;
}
.alignleft {
	float: left;
	margin-right: 10px;
}
* html .clearfix {
    height: 1%;
}
* + html .clearfix {
	display: inline-block;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
* html .group {
    height: 1%;
}
* + html .group {
	display: inline-block;
}
.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/** ==========================================================================
* End Vanilla CSS
========================================================================== */


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    max-width: 960px;
    margin: 0 auto;
    background-color: #d5d6c8;
    background-image: (../img/background.gif); 
    background-repeat: repeat;
    font-size: 1em;
    line-height: 1.4;
}

#wrapper {
    width: 85.416666666667%; /* 820px */
    margin: 0 auto;
}

h3.h5bp {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url(test.png);
  width: 300px;
  height: 75px;
}


/* ==========================================================================
   Nav 
   ========================================================================== */

header {
    min-height: 30px;
    max-height: 130px;
}

header img {
      padding-bottom: 10px;
}

nav {
    width: 100%;
    height: 3.3em; /*55px;*/
    margin-bottom: 1.0em; /*10px;*/
    background-color: #e4dfbd; 
}

nav ul {
    margin: 0 auto;
    list-style-type: none;
    line-height: 3.3em; /*55px;*/
    float: left;
}

nav ul li {
    width: 15.243902439024%; /*125px*/
    font-family: "BebasRegular", sans-serif;
    font-size: 1.500em; /*24px*/
    display: inline;
    margin: 0 auto;
    padding: 15px;
}

nav ul li a:link {
    text-decoration: none;
    color: #b7be91;
    background-color: #e4dfbd;
}

nav ul li a:visited {
    color: #b7be91;
}

nav ul li a:hover {
    color: #5f6c3d;
}

nav ul li a:active {
    color: #8d9774;
}



/* ==========================================================================
   Slideshow
   ========================================================================== */


p.h5bp {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url(test.png);
  width: 300px;
  height: 75px;
}

.believe img {
    float: left;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100%;
}

/* ==========================================================================
   Times of Service
   ========================================================================== */

#timessermonscontact {
    margin: 0 auto;
}


.times {
    display: block;
    padding: 0;
    float: left;
    width: 29.268292682927%; /*240px*/
    height: 15em;
    background-color: #5f6c3d;
}

.times ul; {
    margin: 0;
    padding: 0;
}

.times ul li {
    margin: 0 auto;
    list-style-type: none;
    font: .8em "Helvetica Nueu", sans-serif;
    color: #d1d6cf; 
}

.times ul li h2 {
    margin-left: -20px;
    padding: 0;
    font: 1.938em "BebasRegular", sans-serif;
    color: #e4dfb9; 
}

.times ul li h3 {
    margin-left: -10px;
    padding: 0;    
}





/* ==========================================================================
   Favorite Sermons
   ========================================================================== */
.sermons {
    display: block;
    margin-left: 50px;
    padding: 0px;
    float: left;
    width: 29.268292682927%; /*240px*/
    height: 15em;
    background-color: #5f6c3d;
}

.sermons ul; {
    padding: 0;
}

.sermons ul li {
    margin: 0 auto;
    padding: 0px;
    list-style-type: none;
    font: .8em "Helvetica Nueu", sans-serif;
    color: #d1d6cf; 
}

.sermons ul li h2 {
    margin-left: -20px;
    padding: 0;
    font: 1.938em "BebasRegular", sans-serif;
    color: #e4dfb9; 
}

.sermons ul li a:link {
    color: #d1d6cf;
    font: 1.5em "BebasRegular", sans-serif;
}

.sermons ul li a:visited {
    color: #b7be91;
}

.sermons ul li a:hover {
    color: #e4dfb9;
}

.sermons ul li a:active {
    color: #8d9774;
}




/* ==========================================================================
   Contact
   ========================================================================== */
.contact {
    display: block;
    margin-left: 50px;
    padding: 0px;
    float: left;
    width: 29.268292682927%; /*240px*/
    height: 15em;
    background-color: #5f6c3d;
}

.contact ul; {
    margin: 0;
    padding: 0;
}

.contact ul li {
    margin: 0 auto;
    padding: 0px;
    list-style-type: none;
    font: .8em "Helvetica Nueu", sans-serif;
    color: #d1d6cf; 
}

.contact ul li h2 {
    margin-left: -20px;
    padding: 0;
    font: 1.938em "BebasRegular", sans-serif;
    color: #e4dfb9; 
}

.contact ul li h3 {
    margin-left: -10px;
    padding: 0;    
}


/* ==========================================================================
   Our Staff
   ========================================================================== */

.meetourstaff {
    float: left;
    width: 90.853658536585%; /*745px*/
    margin: 0 auto;
    padding: 0 10px;
}

.meetourstaff h2 {
    font-family: "BebasRegular", sans-serif;
    font-size: 2em;
}

.mark {
    padding-left: 50px;
}

.mark img {
    float: left;
    clear: left;
    margin-right: 18px;
}

.mark p {
    margin: 5px 0;
    padding: 5px;
    font: 0.988em Helvetica, sans-serif;
    color: #404040;
    float: right;
    border-bottom: 1px solid #8d9774; 
}

.terry {
    padding-left: 50px;
}

.terry img {
    float: left;
    clear: left;
    margin-right: 18px;
}

.terry p {
    margin: 5px 0;
    padding: 5px;
    font: 0.988em Helvetica, sans-serif;
    color: #404040;
    float: right;
    border-bottom: 1px solid #8d9774; 
}

.ingie {
    padding-left: 50px;
}

.ingie img {
    float: left;
    clear: left;
    margin-right: 18px;
}

.ingie p {
    margin: 5px 0;
    padding: 5px;
    font: 0.988em Helvetica, sans-serif;
    color: #404040;
    float: right;
    border-bottom: 1px solid #8d9774; 
}

.mike {
    padding-left: 50px;
}

.mike img {
    float: left;
    clear: left;
    margin-right: 18px;
}

.mike p {
    margin: 5px 0;
    padding: 5px;
    font: 0.988em Helvetica, sans-serif;
    color: #404040;
    float: right;
    border-bottom: 1px solid #8d9774; 
}

.marilyn {
    padding-left: 50px;
}

.marilyn img {
    float: left;
    clear: left;
    margin-right: 18px;
}

.marilyn p {
    margin: 5px 0;
    padding: 5px;
    font: 0.988em Helvetica, sans-serif;
    color: #404040;
    float: right;
    border-bottom: 1px solid #8d9774; 
}


/* ==========================================================================
   Contact Us 
   ========================================================================== */

.thanks {
    clear: left;
    overflow: hidden;
    float: left;
    width: 36.585365853659%; /*300px*/
    margin-left: 20px;
}

.thanks h2 {
    font: 2.438em "BebasRegular", sans-serif;
    padding-right: 90px;
}

.thanks p {
    font: 1.338em Helvetica, sans-serif;
    color: #404040;
    margin-right: 45px;
}

.contactmap {
    float: right;
    width: 54.878048780488%; /*450*/
}

.contactmap img {
    width: 91.111111111111%; /*410*/
    margin-left: 30px;
}


/* ==========================================================================
   Form 
   ========================================================================== */

#form {
    margin-top: 2.222222%; /* 20px; */
    display: block;
    clear: left;
}

form {
    width: 42.682926829268%; /* 350px; */
    float: left;
    margin: 2.222222%; /* 20px; */
    border: none;
    font-family: Helvetica, sans-serif;
    clear: both;
}

form label {
    display: block;
    background-color: #d6dac9;
    float: left;
    clear: left;
    margin: 3.333333333333% 0; /* 10px; */
}

form label b {
    display: block;
    float: left;
    background-color: #d6dac9;
    width: 26.666666666667%; /* 80px; */
    margin-right: 2.222222%; /* 20px; */
}

form label input, form label textarea, form label select {
    float: left;
    width: 180px;
    margin-left: 60px;
    padding-left: 80px;}


form label input [type="radio"]
form label input [type="checkbox"] {
    background-color: #d6dac9;
    padding-left: 80px;
    width: 26.666666666667%; /* 80px; */
}

form p {
    clear: left;
    padding-left: 80px;
    margin: 10px 0 0;
    te
}

form input [type="submit"] {
    float: left;
}

.submit {
    background-color:#5f6c3d;
    display:inline-block;
    color:#e3deb9;
    font-family: helvetica, sans-serif;
    font-size:15px;
    font-weight:bold;
    padding:13px 50px;
    text-decoration:none;
}
.submit :hover {
    background-color:#e3deb9;
    color: #5f6c3d;
}
.submit :active {
    position:relative;
    top:1px;
}

/* ==========================================================================
   Contact Info
   ========================================================================== */

.contactinfo {
    float: right;
    width: 42.682926829268%; /* 350px; */
}

.contactinfo h2 {
    font: 2.438em "BebasRegular", sans-serif;
    padding-right: 90px; 
}

.contactinfo p {
    font: 1.338em Helvetica, sans-serif;
    color: #404040;
    margin: 0px;
    padding-left: 20px;
}

.contactinfo #hours {
    margin-top: 5px;
}

.officehours {
    font: 2.438em "BebasRegular", sans-serif;
    color: #8d9870;
}
/* ==========================================================================
   Footer 
   ========================================================================== */

footer {
    width: 100%; /*820 px*/
    padding-top: 20px;
    overflow: hidden;
    clear: both;
}

footer h2 {
    width: 60.560976%; /*677 px*/
    font-size: .85em; 
    color: #5f6c3d;
    margin-bottom: 0px;
    float: left;
    overflow: hidden;
}

footer ul {
    width: 18.439024%; /*143*/
    float: right;
    list-style-type: none;
}

footer ul li {
    display: inline;
}


/* ==========================================================================
   Responsive
   ========================================================================== */


    /*Tablet Portrait size to standard 960(devices and browsers) */
    @media screen and (min-width: 768px) and (max-width: 959px) 
    {

    }

    /*Tablet Portrait size to standard 960(devices and browsers) */
    @media screen and (min-width: 480px) and (max-width: 767px) 
    {
        #wrapper {background-color: black;}
        .times, .sermon, .contact {float: none;}
    }

    /*Tablet Portrait size to standard 960(devices and browsers) */
    @media screen and (max-width: 479px)
    {
        #wrapper {background-color: blue;}
        .believe img {visibility: none;}


    }





































